# Ignore everything
*

# Keep these
!.gitignore
!main.py

# Keep utils and everything inside
!utils/
!utils/**

# Keep trackers and everything inside
!trackers/
!trackers/**

# Keep court_line_detector and everything inside
!court_line_detector/
!court_line_detector/**
